
.header-texture-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  height: 400px;
  background-color: var(--header-texture-box);
  color: var(--header-avatar-text);
  font-size: 30px;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

.header-avatar {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 10px;
}

.header-avatar-image {
  height: 200px;
}

.header-avatar-text {
  margin: 14px;
}






