
@media only screen and (max-width: 1023px) {
  .nav-bar {
    background-color: transparent;
  }

  .header-texture-box {
    padding: 0;
    height: 330px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }

  .main-container {
    width: 60vw;
    padding-top: 100px;
    padding-right: 20px;
  }

  .header-wrapper {
    display:flex;
    justify-content: center;
    width: 70%;
    padding-top: 100px;
}

  .header-texture-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 30vw;
    height: 30vh;
    min-height: 350px;
    max-height: 420px;
    min-width: 350px;
    max-width: 420px;
    padding: 0px;
    margin: 40px;
  }
}
