
@media only screen and (max-width: 1023px) {
  .nav-bar {
    background-color: transparent;
  }

 
}


@media only screen and (min-width: 1024px) {
  .nav-bar {
    /* background-color: red; */
    z-index: 99;
    position:fixed;

  }

  body {
    display: flex;
   /* flex-direction: row;
    justify-items: center;
    margin: auto; */

  }

  .container {
    width: 100%;
    padding-top: 100px;
    padding-right: 20px;
    flex-grow: 3;
  }

  .header-wrapper {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
    padding-top: 100px;
    flex-grow: 1;
}

  .header-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 30vw;
    height: 30vh;
    min-height: 350px;
    max-height: 420px;
    min-width: 350px;
    max-width: 420px;
    padding: 0px;
    margin: 40px;
  }

}

@media only screen and (min-width: 1400px) {

  body, head, nav {
    margin-left: auto;
    margin-right: auto;
  } 

}