


.nav-bar {
  position: fixed;
  /*
   top: 0;
   left: 0; */
  /* position: absolute; */
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
}



@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}


.nav-bar-tweeter-text {
  font-size: 18px;
}


.nav-bar-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar-newtweet-animation{
  margin-top: 5%;
  animation: bounce 0.5s infinite alternate;
}

.nav-bar-right:hover{
  cursor: pointer;
}

.nav-bar-left{
  font-family: 'Bungee', sans-serif;
  font-size: 24px;
}


.nav-bar-newtweet-animation{
  color: red;
  font-size: 18px;
}

