


.nav-bar {
  position: fixed;
   top: 0;
   left: 0;
  /* position: absolute; */
  padding: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
}



.nav-bar-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar-left{
  font-family: 'Bungee', sans-serif;
  font-size: x-large;
}


.fa-angles-down {
  color: red;
  font-size: large;
}