/****************************/
/*      NAVIGATION BAR      */
/****************************/

.nav-bar {
  position: fixed;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%; 
  background-color: var(--nav-background);
}

.nav-bar-left{
  font-family: 'Bungee', sans-serif;
  font-size: 24px;
}

.nav-bar-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
}

.nav-bar-right:hover{
  cursor: pointer;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}

.nav-bar-newtweet-animation{
  margin-top: 5%;
  animation: bounce 0.5s infinite alternate;
  color: var(--nav-bar-newtweet-animation);
  font-size: 18px;
}