.new-tweet {
  display: flex;
  flex-direction: column;
}

.new-tweet-lowerhalf {
  display: flex;
  flex-direction: row;
  font-family: 'Bungee', sans-serif;
  justify-content: space-between;
  padding: 7px 7px;
}


.new-tweet-lowerhalf-button {
  background-color: #4CAF50;
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #4056A1;
  font-size: 16px;

  margin: 4px 2px;
  cursor: pointer;
}

#textbox {
  display: flex;
  resize: none;
  font-weight: 600;
  width: 100%;
  
}

